<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
	<default>
		<pagenotfound_configuration>
			<pagenotfoundoption>
				<enable>0</enable>
				<recipient_email>
                    <![CDATA[hello@magecomp.com]]>
                </recipient_email>
				<sender_email_identity>custom2</sender_email_identity>
                <email_template>pagenotfound_configuration_pagenotfoundoption_email_template</email_template>	
			</pagenotfoundoption>
        </pagenotfound_configuration>
    </default>
</config>
